#review-form {
    padding: 50px 20px;
    border-top: 1px solid var(--navBorder);
    border-bottom: none;
    /* border-bottom: 1px solid var(--navBorder); */
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

#review-slogan {
    margin-top: 110px;
    min-height: 30vh;
}

.form-section {
    max-width: 1000px;
    width: 100%;
    color: var(--navText);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section legend {
    font-size: 40px;
}

.subtle-nudge {
    color: var(--navBorder);
    font-size: 20px;
}

.form-input-area {
    display: flex;
    gap: 20px;
}

#form-naughty-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
}

#form-naughty-div div {
    display: flex;
    gap: 6px;
    min-width: fit-content;
}

#form-submit-btn, 
#form-reset-btn {
    width: 200px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    color: var(--navText);
}

#form-submit-btn {
    border: none;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#form-reset-btn {
    border: 1px solid var(--navBorder);
    padding: 10px 5px;
    background-color: transparent;
}

#form-reset-btn:hover {
    background-color: rgb(246, 246, 246);
}

#submit-message {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 30px;
    gap: 15px;
    padding: 10px 0px;
    border: 1px solid var(--themeBlue);
    color: var(--themeBlue);
}

#submit-message img {
    height: 23px;
}

