body {
    background-color: var(--mainContent);
    overflow-x: hidden;
}

#content-area {
    background-color: var(--mainContent);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.landing-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


#body-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.body-main-text {
    font-size: clamp(22px, 6.5vw, 90px);
    color: var(--navText);
    font-weight: 500;
    z-index: 1;
}

#footer-area {  
    padding: 50px 0px;
    border-top: 1px solid var(--navBorder);
}

#footer {
    display: flex;
    justify-content: space-around;
    flex: 1;
    max-width: 800px;
    z-index: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: var(--themeBlue);
}

.footer-links a:hover {
    opacity: 0.8;
}

.footer-headings {
    color: var(--navText);
    font-size: 20px;
}

#socials-container {
    min-height: 80px;
    background-color: var(--navText);
}

#socials-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
    z-index: 1;
}

.fa {
    padding: 10px;
    width: 50px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
}





@media screen and (max-width: 550px) {
    #footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
}