#about-body-text {
    width: 100%;
    padding: 50px 0px;
    z-index: 1;
}

#about-body-text div {
    display: flex;
    width: 80%;
    gap: 20px;
}

#about-body-text div div {
    display: flex;
    flex-direction: column;
}

#about-body-text p {
    font-size: 19px;
    line-height: 28px;
    color: var(--navText);
}

#about-slogan {
    margin-top: 110px;
    min-height: 30vh;
    border-bottom: 1px solid var(--navBorder);
    z-index: 1;
}

#about-ricky-img {
    width: 300px;
    border-radius: 5px;
}

@media screen and (max-width: 940px) {
    #about-body-text div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #about-body-text div div p {
        text-align: center;
    }
}