#content-area {
    background-color: var(--mainContent);
    height: 100%;
    width: 100%;
}

#body-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.max-width-area {
    background-color: var(--mainContent);
    color: var(--navText);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    flex: 1;

    background-color: var(--lightGrey1);
}

#main-slogan {
    display: flex;
    justify-content: center;
    font-size: clamp(22px, 4vw, 50px);
    min-height: 400px;
    align-items: center;
    width: 100%;
}




