/* CSS styles for the nav bar --> applied to all pages */

#top-bar {
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px); /*look into this compatability */
    z-index: 99;
}

#header-cat-icon {
    height: 40px; /* will probs need white version */
}

#nav-bar-area {
    background-color: var(--navBarBgc); /*fix opacity blur */
    display: flex;
    min-height: 70px;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    border-bottom: 2px solid var(--navBorder);
}

#nav-bar {
    display: flex;
    align-items: center;
    max-width: var(--maxWidth);
    width: 100%;
    flex: 1;
    color: var(--navText); 
    z-index: 1;
}

#explore-bar-area {
    background-color: var(--navBarBgc);
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding: 0px 15px;  
    z-index: 99;

    border-image: linear-gradient(to right, var(--prettyPink), var(--ornateOrange)) 30;
}


#explore-bar-bottom {
    display: grid;
    grid-template-columns: repeat(8, auto);
    width: 100%;
    max-width: 1000px;
    height: 40px;
    align-items: center;
}

#explore-pill {
    display: none;
    background-color: var(--mainContentDark);
    border: none;
    color: white; /*update to var()*/
    padding: 5px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
}

#explore-expand {
    display: none; /*ensure display is none for drop down to work*/
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}

.explore-expand-inner {
    display: none; /*ensure display is none for drop down to work*/
    gap: 20px;
    align-items: baseline;    
}

#explore-expand div:first-child {
    font-size: 45px;
    color: var(--prettyPink);
    min-width: fit-content;
}

#explore-expand div:last-child {
    font-size: 20px;
    color: var(--navText);
}


#explore-pill:hover {
    background-color: var(--prettyPink);
}

#explore-bar-bottom p a {
    display: flex;
    color: var(--navText);
    font-size: 14px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: color 0.15s;
    text-decoration: none;
}

#explore-bar-bottom p {
    height: 100%;
}

#right-box {
    justify-content: end;
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    padding-right: 20px;
}

#right-box ul li a{
    text-decoration: none;
    font-size: 14px;
    color: var(--navText);

    transition: color 0.15s;
}

#right-box ul li a:hover {
    color: var(--prettyPink);
}

#right-box ul li {
    list-style: none;
}

#right-box ul {
    display: flex;
    gap: 10px;
}

#left-box {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
    position: relative;
    text-decoration: none;
}

#left-box a {
    text-decoration: none;
    color: var(--navText);
    transition: color 0.15s;
}

#left-box a:hover {
    color: var(--prettyPink);
}

#burger-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 25px;
    height: 100%;
    justify-content: center;
    cursor: pointer;
}

#burger-menu div {
    background-color: var(--navText);
    height: 2px;
    width: 100%;
}

.theme-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.1;
    padding: 0px 10px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.theme-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--themeSwitchBgc);
    transition: .15s;
    border: 2px solid var(--prettyPink);
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: var(--prettyPink);
    transition: .15s;
    border-radius: 99px;
}

.theme-input:checked + .slider {
    background-color: var(--themeSwitchBgc);
}

.theme-input:checked + .slider:before {
    transform: translateX(30px);
}

.slider {
    border-radius: 99px;
}



@media screen and (max-width: 750px) {
    #explore-bar-bottom {
        display: none;
    }

    #explore-pill {
        display: inline;
    }
}