#nandn-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nandn-standing {
    color: var(--navText);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nandn-standing p {
    background-color: var(--mainContentDark);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    border-radius: 10px;
}

.nandn-standing p:first-child {
    font-size: 25px;
}

.nandn-standing p:last-child {
    font-size: 25px;
}


#naughty-side,
#nice-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#naughty-side {
    padding-right: 20px;
}

#nice-side {
    padding-left: 20px;
}

.gain-text {
    color: var(--niceGreen);
}

.lost-text {
    color: var(--naughtyRed);
}

.html-lost {
    color: var(--naughtyRed);
}

.html-gain {
    color: var(--niceGreen);
}

.naughty-entry,
.nice-entry {
    background-color: var(--navBarBgc);
    padding: 10px;
    border-radius: 10px;
    color: var(--navText);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.naughty-entry {
    border: 2px solid var(--naughtyRed);
}

.nice-entry {
    border: 2px solid var(--niceGreen);
}

.nandn-title {
    font-size: 20px;
}

.nn-title {
    font-size: clamp(20px, 2vw, 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--navText);
}