#review-form {
    padding: 50px 20px;
    border-top: 2px solid var(--navBorder);
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

#review-slogan {
    margin-top: 110px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section {
    max-width: 1000px;
    width: 100%;
    color: var(--navText);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section legend {
    font-size: 40px;
    color: var(--navText);
}

.subtle-nudge {
    color: var(--prettyPink);
    font-size: 20px;
}

.form-input-area {
    display: flex;
    gap: 20px;
}

#form-naughty-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
}

#form-naughty-div div {
    display: flex;
    gap: 6px;
    min-width: fit-content;
}

#form-submit-btn, 
#form-reset-btn {
    width: 200px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    color: var(--navText);
}

#form-submit-btn {
    border: none;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--prettyPink);
}

#form-submit-btn:hover {
    opacity: 0.8;
}

#form-reset-btn {
    border: 2px solid var(--navBorder);
    padding: 10px 5px;
    background-color: transparent;
}

#form-reset-btn:hover {
    background-color: var(--navBorder);
}

#submit-message {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 15px;
    padding: 20px;
    border: 2px solid var(--prettyPink);
    color: var(--prettyPink);
}

.text-input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--navText);
    width: 80%;
    font-size: 17px;
    background-color: var(--mainContent);
    color: var(--navText);
}

#client-details {
    display: flex;
    flex-direction: column;
}

#client-details label {
    color: var(--navText);
}

#client-details div label {
    padding-right: 10px;
}
