:root {
    --mainContent: rgba(29, 29, 31, 0);
    --mainContentDark: rgb(11, 11, 12);

    --prettyPink: rgb(255, 93, 225);
    --ornateOrange: rgb(255, 162, 75);

    --maxWidth: 1200px;

    /*unique to nav-bar since it has an opacity property*/
    --navBarBgc: rgba(16, 16, 20, 0.431);
    /*^^^*/

    --navText: rgb(234, 234, 238);
    --navBorder: rgb(11, 11, 13);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* add different themes and a toggle */

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

.emph_1 {
    color: var(--prettyPink);
}