#landing-slogan {
    margin-top: 110px;
    min-height: 82vh;
}

#landing-meet-ricky {
    min-height: 100vh;
    background-color: var(--themeBlue);
    background-image: linear-gradient(var(--themeBlue), rgb(202, 155, 210));
}

#landing-meet-ricky p {
    color: white;
}