#landing-slogan {
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

#scroll-prompt {
    position: absolute;
    animation: animate-prompt 0.5s infinite alternate;
}

#scroll-prompt div:first-child {
    border: solid var(--navBorder);
    border-width: 0 4px 4px 0;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    transition: all 1s;
}

.transition-prompt {
    display: none;
}

#landing-meet-ricky {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    background-color: var(--themeBlue);
    background-image: linear-gradient(var(--themeBlue), rgb(202, 155, 210));
    gap: 50px;
}

#landing-meet-ricky p {
    color: white;
    /* position: absolute;
    top: 15%; */
}

#landing-meet-ricky img {
    width: clamp(200px, 80%, 500px);
    border-radius: 5px;
}

/* #meet-ricky-img {
    animation: animate-ricky-img 0.5s infinite alternate;
}

@keyframes animate-ricky-img {
    from {width: clamp(200px, 70%, 500px)}
    to {width: clamp(200px, 65%, 550px)}
} */

@keyframes animate-prompt {
    from {bottom: 50px;}
    to {bottom: 30px;}
}