* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--navBarBgc);
}

table {
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.176);
    width: 80%;
    max-width: 1000px;
    margin: 100px 0px;
}

table tr th,
table tr td {
    border: 1px solid  var(--navBorder);
    padding: 5px 20px;
    color: var(--navText);
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

table tr:hover {
    background-color: rgba(0, 0, 0, 0.033);
}

div {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    justify-content: center;
}

div p {
    font-size: clamp(15px, 13vw, 1000px);
    color: rgba(10, 48, 137, 0.264);
    font-weight: 900;
}