/*styleLanding.css*/

#landing-slogan {
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
}

#landing-meet-ricky {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    gap: 100px;
}

#landing-meet-ricky p {
    color: var(--navText);
}

#landing-meet-ricky img {
    width: clamp(300px, 40%, 500px);
    height: fit-content;
    object-fit: cover;
}

#landing-meet-container {
    display: flex;
    padding: 0px 50px;
    gap: 50px;
    max-width: 1200px;
    padding-bottom: 100px;
    z-index: 1;
}

#landing-stat-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}


#landing-stat-box {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 10px;
    padding: 20px;
    border: 2px solid var(--navBorder);
    align-items: center;
    column-gap: 20px;
}

.stat-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}


.stat-bar-wrapper {
    background-color: var(--navBorder);
    width: 100%;
    height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
}

.stat-bar {
    background-image: linear-gradient(to right, var(--prettyPink), var(--ornateOrange));
    height: 100%;
}

#cuteness-bar {
    width: 95%;
}

#naughtiness-bar {
    width: 80%;
}

#smarts-bar {
    width: 70%;
}

#agility-bar {
    width: 95%;
}

#landing-meet-container p {
    font-size: 20px;
    color: var(--navText);
}

#landing-cta-container {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    padding: 20px;
    border: 2px solid var(--prettyPink);
    align-items: center;
    background: var(--navBarBgc);
    justify-content: space-between;
    z-index: 1;
    color: var(--navText);
    box-shadow: 40px 40px 0 var(--prettyPink);
}

.primary-cta-button {
    padding: 10px 20px;
    border: 2px solid var(--prettyPink);
    transition: color 0.15s, background-color 0.15s;
    font-size: 15px;
    background-color: var(--mainContent);
    color: var(--navText);
    text-decoration: none;
}

.primary-cta-button:hover {
    background-color: var(--prettyPink);
    color: var(--navText);
}

#landing-cta-container p {
    color: var(--navText);
    font-size: clamp(19px, 2vw, 30px);
}


#secondary-cta-container {
    display: flex;
    background: var(--mainContentDark);
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;

    box-shadow: 15px 15px 0 var(--prettyPink);
}

#secondary-cta-container p {
    color: var(--navText);
}

.secondary-cta-button {
    font-size: 17px;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid var(--prettyPink);
    background-color: transparent;
    color: var(--navText);
    transition: all 0.15s;
    text-decoration: none;
}

.secondary-cta-button:hover {
    background-color: var(--prettyPink);
}

#cta-arrow {
    transform: rotate(90deg);
    max-width: 60px;
    object-fit: cover;
}

#slogan {
    color: var(--prettyPink);
    padding: 10px;
}


@media screen and (max-width: 850px) {
    #landing-cta-container {
        flex-direction: column;
    }
}  

@media screen and (max-width: 700px) {
    #landing-b4 {
        display: none;
    }
    
    #landing-b7 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #cta-arrow {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    #landing-meet-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 550px) {
    #landing-stat-box {
        grid-template-columns: 1fr;
    }
}


/*styleLanding.css*/

/*styleAbout.css*/

#about-body-text {
    width: 100%;
    padding: 50px 0px;
    z-index: 1;
}

#about-body-text div {
    display: flex;
    width: 80%;
    gap: 20px;
}

#about-body-text div div {
    display: flex;
    flex-direction: column;
}

#about-body-text p {
    font-size: 19px;
    line-height: 28px;
    color: var(--navText);
}

#about-slogan {
    margin-top: 110px;
    min-height: 30vh;
    border-bottom: 2px solid var(--navBorder);
    z-index: 1;
}

#about-ricky-img {
    width: 300px;
}

.abt-share-section {
    background-color: var(--navBarBgc);
    border-top: 2px solid var(--navBorder);    
}

.abt-share {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 940px) {
    #about-body-text div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #about-body-text div div p {
        text-align: center;
    }
}


/*styleAbout.css*/

/*styleGallery.css*/

#gallery-slogan {
    margin-top: 110px;
    min-height: 30vh;
    border-bottom: 2px solid var(--navBorder);
    z-index: 1;
}

#gallery-section {
    padding: 15px; 
}

#gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

#gallery-grid img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.gallery-div {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--mainContentDark);    
}

.gallery-description {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--navText);
    font-size: 18px;
    background-color: var(--navBarBgc);
    padding: 5px 10px;
    transition: opacity 0.15s ease-in-out;
}

/*styleGallery.css*/

/*styleLandD.css*/

.landd-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ld-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ld-title {
    color: var(--navText);
    font-size: clamp(20px, 2vw, 40px);
}

.ld-entry {
    background-color: var(--mainContentDark);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 5px 5px var(--burntBlack);
}

.ld-entry p {
    color: var(--navText);
    font-size: 20px;
}

.likes-section {
    padding-right: 20px;
}

.dislikes-section {
    padding-left: 20px;
}

.ld-level-wrapper {
    width: 100%;
    background-color: var(--burntBlack);
    height: 20px;
}

.ld-level {
    height: 100%;
    background-image: linear-gradient(to right, var(--prettyPink), var(--ornateOrange));
}

.l1 {
    width: 95%;
}

.l2 {
    width: 80%;
}

.l3 {
    width: 75%;
}

.l4 {
    width: 50%;
}

.l5 {
    width: 30%;
}

.l6 {
    width: 10%;
}

.d1 {
    width: 100%;
}

.d2 {
    width: 80%;
}

.d3 {
    width: 80%;
}

.d4 {
    width: 70%;
}

.d5 {
    width: 20%;
}

.d6 {
    width: 10%;
}

/*styleLandD.css*/

/*styleNandN.css*/

#nandn-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nandn-standing {
    color: var(--navText);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nandn-standing p {
    background-color: var(--mainContentDark);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.nandn-standing p:first-child {
    font-size: 25px;
}

.nandn-standing p:last-child {
    font-size: 25px;
}


#naughty-side,
#nice-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#naughty-side {
    padding-right: 20px;
}

#nice-side {
    padding-left: 20px;
}

.gain-text {
    color: var(--niceGreen);
}

.lost-text {
    color: var(--naughtyRed);
}

.html-lost {
    color: var(--naughtyRed);
}

.html-gain {
    color: var(--niceGreen);
}

.naughty-entry,
.nice-entry {
    background-color: var(--navBarBgc);
    padding: 10px;
    color: var(--navText);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.naughty-entry {
    border: 2px solid var(--naughtyRed);
}

.nice-entry {
    border: 2px solid var(--niceGreen);
}

.nandn-title {
    font-size: 20px;
}

.nn-title {
    font-size: clamp(20px, 2vw, 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--navText);
}

/*styleNandN.css*/

/*styleVitals.css*/

.vitals-area {
    display: grid;
    grid-template-areas: 
        "A A B B"
        "A A B B"
        "C C C C"
        "D D D D";

    gap: 20px;
}

.vitals-wrapper {
    color: var(--navText);
    border: 2px solid var(--navBorder);
    background-color: var(--navBarBgc);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;   

    position: relative;
}

.vitals-wrapper p:nth-child(2) {
    font-size: clamp(20px, 4vw, 40px);
}

.live-tag {
    background-color: var(--naughtyRed);
    height: 10px;
    width: 10px;
    animation: live-tag 0.7s ease-in infinite alternate;
    
    position: absolute;
    right: 10px;
    top: 10px;
}

#hr-text,
#current-mood,
#respiration-text {
    font-size: clamp(30px, 7vw, 90px);
}

.vitals-wrapper.A {
    grid-area: A;
}

.vitals-wrapper.B {
    grid-area: B;
}

.vitals-wrapper.C {
    grid-area: C;
}

.vitals-wrapper.D {
    grid-area: D;
}


@keyframes live-tag {
    from {opacity: 100%;}
    to {opacity: 10%;}
}

/*styleVitals.css*/

/*styleReview.css*/

#review-form {
    padding: 50px 20px;
    border-top: 2px solid var(--navBorder);
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

#review-slogan {
    margin-top: 110px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section {
    max-width: 1000px;
    width: 100%;
    color: var(--navText);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section legend {
    font-size: 40px;
    color: var(--navText);
}

.subtle-nudge {
    color: var(--prettyPink);
    font-size: 20px;
}

.form-input-area {
    display: flex;
    gap: 20px;
}

#form-naughty-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
}

#form-naughty-div div {
    display: flex;
    gap: 6px;
    min-width: fit-content;
}

#form-submit-btn, 
#form-reset-btn {
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    color: var(--navText);
}

#form-submit-btn {
    border: none;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--prettyPink);
}

#form-submit-btn:hover {
    opacity: 0.8;
}

#form-reset-btn {
    border: 2px solid var(--navBorder);
    padding: 10px 5px;
    background-color: transparent;
}

#form-reset-btn:hover {
    background-color: var(--navBorder);
}

#submit-message {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border: 2px solid var(--prettyPink);
    color: var(--prettyPink);
}

.text-input {
    padding: 10px;
    border: 2px solid var(--navText);
    width: 80%;
    font-size: 17px;
    background-color: var(--mainContent);
    color: var(--navText);
}

#client-details {
    display: flex;
    flex-direction: column;
}

#client-details label {
    color: var(--navText);
}

#client-details div label {
    padding-right: 10px;
}


/*styleReview.css*/